.reservation__form {
  margin-left: 15rem;
  margin-right: 15rem;
}

.reservation__heading {
  margin-top: 44px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.015em;
  text-align: center;
}

.reservation__container {
  width: 470px;
  height: 100%;
  margin: 30px auto;
  padding: 24px;
  border-radius: 1rem;
  gap: 52px;
  box-shadow: 0px 0px 24px 0px #00000026;
}

.reservation__inputs {
  margin-bottom: 12px;
}

.reservation__label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: center;
  padding: 0px, 16px, 0px, 16px;
  margin-left:1rem;
}

.reservation__input {
  width: 100%;
  height:44px;
  padding: 11px, 16px, 11px, 16px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 21.76px;
  letter-spacing: -0.015em;

}

::placeholder {
  color:#E0E0E0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.015em;
}

.reservation__select {
  background-repeat: no-repeat;
  background-image: url('/assets/reservation/arrow.png');
  background-size: 24px;
  background-position: 95%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color:#262626;
  width: 100%;
  padding: 12px;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  height:44px;
  font-size: 14px;
}


::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-text {
  color: #E0E0E0; 
  padding: 0 0.2em;
}

input[type="date"].selected-date::-webkit-datetime-edit-month-field,
input[type="date"].selected-date::-webkit-datetime-edit-day-field,
input[type="date"].selected-date::-webkit-datetime-edit-year-field,
input[type="date"].selected-date::-webkit-datetime-edit-text {
  color: #262626 !important;;
}


::-webkit-calendar-picker-indicator { 
  margin: 4%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('/assets/reservation/calendar.png');
  width: 24px;
  height: 24px;
}

.reservation__btns {
  display: inline;
  width: 100%;
}
    
.btn__submit {
  background-color:var(--yellow-color);
  width: 40%;
  height: 44px;
  padding: 11px, 36px, 11px, 36px;
  border-radius: 8px;
  gap: 10px;
  opacity: 0.5px;
  cursor: pointer;
  color:#FFFFFF;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #FFFFFF;
  margin-top:5%;
  margin-left:2rem;
}


.checkbox__roles{
  color:var(--yellow-color);
  text-align: center;
  margin-left:4px;
}

.reservation__checkmark {
  display: none;
}

.container__checkbox {
  font-size: 1rem;
  font-weight: 400;
  line-height: 21.76px;
  letter-spacing: -0.015em;
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 30px; 
}

.container__checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #E0E0E0;
  border-radius: 4px;
}

.checkbox__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.76px;
  letter-spacing: -0.015em;
  margin-left: 8px;
  text-align: center;
}

.reservation__checkmark[type="checkbox"]:checked + .container__checkbox::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 10px;
  top: 4px;
  left: 5px;
  border: 3px solid var(--yellow-color);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


@media screen and  (max-width:767px) {
  .reservation__form {
    margin-left: 2%;
    margin-right:2%;
  }

  .reservation__container {
    width: 100%;
    height: 100%;
    padding-bottom:20%;
  }

  .btn__submit {
    width: 40%;
    margin-left:10%;
  }
}

@media screen and (min-width:768px) and (max-width:1023px){
  .reservation__form {
    margin-left: 15%;
    margin-right:15%;
  }
}

@media screen and (min-width:1024px) and (max-width:1440px){
  .reservation__container {
    height: 100%;
    padding-bottom:10%;
  }

}


