<section class="news__inner__section">
    <div class="news__inner__container">
        <div class="news__inner__img__container">
          <img src="./assets/news/1.png" alt="Image" class="news__inner__image">
        </div>
        <div class="news__inner__content__container">
          <h1 class="news__inner__heading">Heading</h1>
          <p class="news__inner__time">30.03.2024  </p>
          <p class="news__inner__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque odit accusamus porro deserunt quos quisquam libero saepe minima similique cumque magnam esse nisi dignissimos maiores laboriosam architecto, aperiam accusantium. Deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias consequatur vitae ipsam non quisquam distinctio illo provident quidem voluptatum dolorem quibusdam suscipit maiores molestias, natus autem sit vero ullam atque!</p>
        </div>
      </div>
</section>



<!-- <div *ngIf="selectedNews">
    <h2>{{ selectedNews.title }}</h2>
    <p>{{ selectedNews.content }}</p>
    <p>Time Added: {{ selectedNews.timeAdded | date }}</p>
</div> -->
