.news__inner__section {
    margin-left: 15rem;
    margin-right: 15rem;
}

.news__inner__container {
    display: flex;
    justify-content: center;
    margin: 5% auto;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 24px 0px #00000026;
    margin-left: 10%;
    margin-right: 10%;
  }

  .news__inner__img__container {
    margin-top: 5%;
    padding-bottom: 5%;
    height: auto;
    width: 40%;
    margin-left:5%;
  }
  
  .news__inner__image {
    display: block;
    max-width: 100%;
    height: auto;
    width: 400px;
    height: 400px;
  }
  
 .news__inner__content__container {
  margin-top: 1%;
  flex: 1;
}
  
.news__inner__heading {
  margin-top:44px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: -0.015em;
  color:var(--yellow-color);
  min-width: auto;
}

  .news__inner__time {
    margin-bottom: 10px;
    color:#666;
    font-size: 12px;
    margin-top: 4px;
  }

  .news__description {
    width: 100%;
    height: 100%;
    padding-right: 60px;
  }
  
  .news__inner__text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    padding-bottom: 5%;
  }
  
  @media screen and (max-width: 1023px) {
    .news__inner__section {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .news__inner__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;
      }

    .news__inner__image {
        max-width: 100%; 
        height: auto; 
    }
    .news__inner__heading {
        text-align: center;
        margin-top:2%;
    }
    .news__inner__text {
        margin-top:2%;
    }
    .news__description {
      padding-right: 5%;
      padding-left:5%;
    }
    .news__inner__time {
      text-align: center;
      margin-top:0.5rem;
    }
  }

  @media screen and (min-width:1024px) and (max-width:1440px){
    .news__inner__section {
        margin-left: 2%;
        margin-right: 2%;
    }
  }


