<!-- <section class="news__inner__section">
  <div class="news__inner__container">
      <div class="news__inner__img__container">
          <img [src]="newsItem.mainphoto" alt="Image" class="news__inner__image">
      </div>
      <div class="news__inner__content__container">
          <h1 class="news__inner__heading">{{newsItem.name }}</h1>
          <p class="news__inner__time">{{newsItem.date }}</p>
          <p class="news__inner__text">{{newsItem.bigdescription }}</p>
      </div>
  </div>
</section> -->

<!-- <section class="news__inner__section">
  <div class="news__inner__container" >
      <div class="news__inner__img__container">
        <img [src]="object[0].mainphoto" alt="Image" class="news__inner__image">
      </div>
      <div class="news__inner__content__container">
        <h1 class="news__inner__heading">{{object[0].name}}</h1>
        <p class="news__inner__time">{{object[0].date}}  </p>
        <p class="news__inner__text">{{object[0].bigdescription}}</p>
      </div>
    </div>
</section> -->





<section class="news__inner__section">
  <div class="news__inner__container">
      <div class="news__inner__img__container">
          <img [src]="object.mainphoto" alt="Image" class="news__inner__image">
      </div>
      <div class="news__inner__content__container">
          <h1 class="news__inner__heading">{{object.name }}</h1>
          <p class="news__inner__time">{{object.date | date}}</p>
          <p class="news__inner__text">{{object.bigdescription }}</p>
      </div>
  </div>
</section>
