<section class="regulation__section">
    <h3 class="regulation__heading">{{'HOME.REGLAMENT' | translate }}</h3>
    <div class="regulation__paragraph">
        <p class="regulation__text">სატრანსპორტო საშუალებების ავტო ინსპექტირების (ტექდთავალიერების) რეგლამენტს (მოთხოვნებს) განსაზღვრავს საქართველოს კანონმდებლობა.</p>
        <p class="regulation__text">რაც გულისხმობს იმას, რომ ავტომობილის გზისთვის ვარგისიანობაზე შემოწმება (ავტო ინსპექტირება) სცდება უბრალოდ ავტომობილის შემოწმების საზღვრებს და იგი გახლავთ საკანონმდებლო დონეზე გაწერილი და დამტკიცებული პროცედურა.</p> 
        <p class="regulation__text">ქვემოთ შეგიძლიათ გაეცნოთ საქართველოს მთავრობის შემდეგ დადგენილებებს:</p>
        <p class="regulation__text"><span class="yellow__text">დადგენილება NO510:</span> „ავტოსატრანსპორტო საშუალებებისა და მათი მისაბმელების პერიოდული ტექნიკური ინსპექტირების შესახებ“ ტექნიკური რეგლამენტის დამტკიცების თაობაზე“</p>
        <p class="regulation__text"><span class="yellow__text">დადგენილება NO522:</span> „ტექნიკური რეგლამენტის „სხვადასხვა კატეგორიის ავტოსატრანსპორტო საშუალებების ტესტირების პერიოდულობის“ დამტკიცების თაობაზე“ საქართველოს მთავრობის 2014 წლის 3 იანვრის No37 დადგენილებაში ცვლილების შეტანის შესახებ</p>
        <p class="regulation__text"><span class="yellow__text">დადგენილება NO511:</span> ტექნიკური რეგლამენტის – „ავტოსატრანსპორტო საშუალების პერიოდული ტექნიკური ინსპექტირების ცენტრების შენობა-ნაგებობების, აღჭურვილობისა და პერსონალის ტექნიკური კვალიფიკაციის მიმართ მოთხოვნების“ დამტკიცების თაობაზე </p>
        <p class="regulation__text"><span class="yellow__text">დადგენილება NO37:</span> ტექნიკური რეგლამენტის „სხვადასხვა კატეგორიის ავტოსატრანსპორტო საშუალებების ტესტირების პერიოდულობის“ დამტკიცების თაობაზე</p>
    </div>
    <div class="regulation__folders">
        <div class="regulation__cards">
            <div class="regulation__card">
                <h5 class="card__heading">{{'HOME.RESOLUTION' | translate }} NO37</h5>

                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">

    
                <button (click)="downloadPdf37()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph"> {{'HOME.DOWNLOAD' | translate }}</p>

                    </div>
                </button>
            </div>

            <div class="regulation__card">
                <h5 class="card__heading">{{'HOME.RESOLUTION' | translate }} NO511</h5>

                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">
    
                <button (click)="downloadPdf511()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph"> {{'HOME.DOWNLOAD' | translate }} </p>

                    </div>
                </button>
            </div>

            <div class="regulation__card">
                <h5 class="card__heading">{{'HOME.RESOLUTION' | translate }} NO522</h5>

                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">
    
                <button (click)="downloadPdf522()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph">  {{'HOME.DOWNLOAD' | translate }} </p>

                    </div>
                </button>
            </div>

            <div class="regulation__card">
                <h5 class="card__heading"> {{'HOME.RESOLUTION' | translate }} NO510</h5>

                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">
    
                <button (click)="downloadPdf510()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph">  {{'HOME.DOWNLOAD' | translate }} </p>

                    </div>
                </button>
            </div>



        </div>
    </div>


</section>