<!-- <p>regulation works!</p>
 -->
<h3>რეგლამენტი</h3>
<p>სატრანსპორტო საშუალებების ავტო ინსპექტირების (ტექდთავალიერების) რეგლამენტს (მოთხოვნებს) განსაზღვრავს საქართველოს კანონმდებლობა. 

    რაც გულისხმობს იმას, რომ ავტომობილის გზისთვის ვარგისიანობაზე შემოწმება (ავტო ინსპექტირება) სცდება უბრალოდ ავტომობილის შემოწმების საზღვრებს და იგი გახლავთ საკანონმდებლო დონეზე გაწერილი და დამტკიცებული პროცედურა.
    
    ქვემოთ შეგიძლიათ გაეცნოთ საქართველოს მთავრობის შემდეგ დადგენილებებს:
    
    დადგენილება No510: „ავტოსატრანსპორტო საშუალებებისა და მათი მისაბმელების პერიოდული ტექნიკური ინსპექტირების შესახებ“ ტექნიკური რეგლამენტის დამტკიცების თაობაზე“
    
    დადგენილება No522: „ტექნიკური რეგლამენტის „სხვადასხვა კატეგორიის ავტოსატრანსპორტო საშუალებების ტესტირების პერიოდულობის“ დამტკიცების თაობაზე“ საქართველოს მთავრობის 2014 წლის 3 იანვრის No37 დადგენილებაში ცვლილების შეტანის შესახებ
    
    დადგენილება No511: ტექნიკური რეგლამენტის – „ავტოსატრანსპორტო საშუალების პერიოდული ტექნიკური ინსპექტირების ცენტრების შენობა-ნაგებობების, აღჭურვილობისა და პერსონალის ტექნიკური კვალიფიკაციის მიმართ მოთხოვნების“ დამტკიცების თაობაზე
    
    დადგენილება No37: ტექნიკური რეგლამენტის „სხვადასხვა კატეგორიის ავტოსატრანსპორტო საშუალებების ტესტირების პერიოდულობის“ დამტკიცების თაობაზე
</p>

<div>
    <!-- 4 folder with reglament -->
</div>