<section class="regulation__section">
    <h3 class="regulation__heading">{{'HOME.REGLAMENT' | translate }}</h3>
    <div class="regulation__paragraph">
        <p class="regulation__text">{{'HOME.REGULATION-1' | translate }}</p>
        <p class="regulation__text">{{'HOME.REGULATION-2' | translate }}</p> 
        <p class="regulation__text">{{'HOME.REGULATION-3' | translate }}</p>
        <p class="regulation__text"><span class="yellow__text">{{'HOME.RESOLUTION' | translate }}  NO510:</span> {{'HOME.REGULATION-4' | translate }}</p>
        <p class="regulation__text"><span class="yellow__text">{{'HOME.RESOLUTION' | translate }}  NO522:</span> {{'HOME.REGULATION-5' | translate }}</p>
        <p class="regulation__text"><span class="yellow__text">{{'HOME.RESOLUTION' | translate }}  NO511:</span> {{'HOME.REGULATION-6' | translate }} </p>
        <p class="regulation__text"><span class="yellow__text">{{'HOME.RESOLUTION' | translate }}  NO37:</span> {{'HOME.REGULATION-7' | translate }}</p>
    </div>
    <div class="regulation__folders">
        <div class="regulation__cards">
            <div class="regulation__card">
                <h5 class="card__heading">{{'HOME.RESOLUTION' | translate }} NO37</h5>
                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">
                <button (click)="downloadPdf37()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph"> {{'HOME.DOWNLOAD' | translate }}</p>
                    </div>
                </button>
            </div>

            <div class="regulation__card">
                <h5 class="card__heading">{{'HOME.RESOLUTION' | translate }} NO511</h5>
                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">
                <button (click)="downloadPdf511()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph"> {{'HOME.DOWNLOAD' | translate }} </p>
                    </div>
                </button>
            </div>

            <div class="regulation__card">
                <h5 class="card__heading">{{'HOME.RESOLUTION' | translate }} NO522</h5>
                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">
                <button (click)="downloadPdf522()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph">  {{'HOME.DOWNLOAD' | translate }} </p>
                    </div>
                </button>
            </div>

            <div class="regulation__card">
                <h5 class="card__heading"> {{'HOME.RESOLUTION' | translate }} NO510</h5>
                <img class="card__img" src="./assets/regulation/pdf.png" alt="pdf">
                <button (click)="downloadPdf510()" class="regulation__btn">
                    <div class="btn__info">
                        <img class="btn__img" src="./assets/regulation/download.png" alt="download">
                        <p class="btn__paragraph">  {{'HOME.DOWNLOAD' | translate }} </p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</section>