.regulation__section{
    margin-left: 15rem;
    margin-right:15rem;

    .regulation__heading{
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: -0.015em;
        text-align: center;
        margin-top:44px;
    }

    .regulation__paragraph {
        margin:  0rem auto;
        font-size: 1rem;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.015em;
        text-align: left;
        width: 92%;
        height: 100%;

        .regulation__text {
            margin: 1rem;

            .yellow__text {
                color:var(--yellow-color);
                font-weight: 600;
                letter-spacing: -0.015em;
                font-size: 1rem;
            }
        }

    }

    .regulation__folders {
        margin-top: 2rem;
    }

    .regulation__cards {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin:0 auto;
        gap: 52px;
    }

    .regulation__card {
        width: 256px;
        height: 100%;
        padding: 24px;
        border-radius: 1rem;
        gap: 36px;
        text-align: center;
        box-shadow: 0px 0px 24px 0px #00000026;
    }

    .card__heading {
        font-size: 1rem;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: -0.015em;
        color:var(--yellow-color); 
    }

    .card__img {
        width: 64px;
        height: 64px;
        margin: 1rem;
    }

    .regulation__btn {
        width: 100%;
        height: 100%;
        padding: 11px, 36px, 11px, 36px;
        border-radius: 8px;
        gap: 10px;
        background-color: var(--yellow-color);
        border: none;
        display: flex;
        cursor: pointer;
    }

    .btn__info {
        display: flex;
        margin: 5% auto;
    }


    .btn__paragraph {
        font-size: 1rem;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: -0.015em;
        text-align: center;
        color: #FFFFFF;
        margin-left:5%;
    }
}

@media screen  and  (max-width:767px){
    .regulation__section {
        margin-left: 2%;
        margin-right: 2%;
    }

    .regulation__cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .regulation__folders{
        padding-bottom: 25%;

    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .regulation__section {
        margin-left: 2%;
        margin-right: 2%;
    }

    .regulation__cards{
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap; 
    }

    .regulation__folders{
        padding-bottom: 15%;

    }
}


@media screen and (min-width:1024px) and (max-width:1440px) {
    .regulation__section{
        margin-left: 5%;
        margin-right:5%;
    }

    .regulation__paragraph {
        width: 100%;
        height: 100%;
    }


}