.regulation__heading{
    font-family: Noto Sans Georgian;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top: 44px;
}

// yvela heading igive :)