<section class="calculator__section">
    <div class="calculator__container">
        <img class="calculator__img" src="./assets/calculator/default.png" alt="calculator">
        <h3 class="calculator__heading"> {{'HOME.GUESS' | translate }}</h3>
        <div class="calculator__information">
            <div class="calculator__line"></div>
            <p class="calculator__paragraph">{{'HOME.ENTER' | translate }}</p>
            <input class="calculator__inputs" placeholder="XX001XX">
            <!-- <div *ngIf="submitted && registerForm.controls.carNumber.errors.required" class="span">
                მანქანის ნომერი ვერ მოიძებნა
    
            </div> -->
            <!-- <p>*მანქანის ნომერი ვერ მოიძებნა</p> -->
            <!-- ROCA ARASCORAD CHACERA -->
            <input routerLink="/correct-model" [routerLinkActive]="'active-link'" class="calculator__btn" type="submit" value="{{'HOME.CHECK' | translate }}">
        </div>
    </div>
</section>

<!-- [disabled]="myForm.invalid" -->