.calculator__section {
    margin-left: 15rem;
    margin-right:15rem;
  }
  
  .calculator__container {
    width: 32.5rem;
    height: 41rem;
    margin-left:60%;
    margin-top: 103px;
    padding: 44px, 24px;
    border-radius: 24px;
    gap: 3rem;
    box-shadow: 0px 0px 24px 0px #00000026;
  }
  .calculator__main{
    margin-top: 15%;
    text-align: center;

  }
  
  .calculator__img{
    margin-top: 15%;
    width: 4rem;
    height: 4rem;
  
  }
  
  .calculator__heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.015em;
    text-align: center;
    align-items: center;
    color: #1B1B1B;
    margin-top:1rem;
  
  }
  
  .calculator__information {
    width: 54%;
    margin-left:25%;
    align-items: center;
    margin-top:3rem;
  
  }
  
  .calculator__line {
    border: 1px solid #E0E0E0;
    width: 100%;
  }

  .calculator__paragraph {
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #1B1B1B;
    margin-top:2rem;

  }
  
  .calculator__btn {
    background-color: var(--yellow-color);
    border:none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: center;
    width: 55%;
    height: 44px;
    padding: 11px, 36px;
    border-radius: 8px;
    gap: 10px;
    margin-top:2rem;
    cursor: pointer;
  
  }
  
  
  .calculator__inputs{
    border: 1px solid #E0E0E0;
    width: 78%;
    height: 60px;
    padding: 8px, 36px;
    border-radius: 8px;
    gap: 10px;
    margin-top:2rem;
    color:#1B1B1B;
    font-size: 2rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.015em;
    text-align: center;
  
  }
  
  ::placeholder {
    color:#E0E0E0;
  }

  .calculator__validators {
    color: #EE0000;
    font-size: 12px;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top:8px;

  }

  
// for mobile

@media screen and (max-width:767px) {
.calculator__section {
  margin-left: 15%;
  margin-right:15%;
}

.calculator__container {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: 3rem;

}



.calculator__heading{
  font-size: 20px;
  line-height: 24px;

}

.calculator__img{
  margin-top:8%;

}

.calculator__information {
  width: 54%;
  margin-top:2rem;

}
.calculator__paragraph {
  margin-top:1rem;

}

.calculator__inputs{
  width: 80%;
  margin-top:1rem;

}
.calculator__btn {
  margin-top:1rem;
  margin-bottom: 1rem;

}

}

// for tablets

@media screen and (min-width:768px) and (max-width:1023px) {
  .calculator__section {
    margin-left: 15%;
    margin-right:15%;
  }
  

  .calculator__container {
    margin-left:20%;
  }


  
  .calculator__heading{
    font-size: 24px;
  
  }
  
  .calculator__img{
    margin-top:8%;
  
  }
  
  .calculator__information {
    width: 54%;
    margin-top:2rem;
  
  }
  .calculator__paragraph {
    margin-top:1rem;
  
  }
  
  .calculator__inputs{
    width: 80%;
    margin-top:1rem;
  
  }
  .calculator__btn {
    margin-top:1rem;
    margin-bottom: 1rem;
  
  }
}


@media screen and (min-width:1024px) and (max-width:1440px) {

  .calculator__container {
    margin-left:45%;
  }
}