<!-- <form class="reservation__form" >
    <div>
      <h3 class="reservation__heading">აირჩიე სასურველი დრო</h3>
      <div class="reservation__container">
        <div class="form">
         <div  class="btn__clock" *ngFor="let timeSlot of timeSlots">
            <button 
              [style.background-color]="isButtonClicked(timeSlot) ? '#F7A23E' : 'initial'" 
              (click)="handleClick(timeSlot)">{{ timeSlot }} ორშაბათი, თარიღი
            </button>
          </div>
         <button  class="btn__payment"routerLink="/payment" [routerLinkActive]="'active-link'"> ბარათით გადახდა</button>
         <button  (click)="onSubmit()"   class="btn__payment" type="submit"> ადგილზე გადახდა</button>
        </div>
      </div>
    </div>
  </form> -->
  

  <!-- ჯსონში უნდა ჩაიწეროს ამ გვერდით თარგმანი -->

<!-- romel pilialshic aris imis mixedvit unda mikondes tarigebi da ra dges -->
<!-- tarigi da dge mikondes scorad -->
<!-- nomers rom sheikvans mag nomerze miuvides kodi javshnis shesaxeb -->


<!-- <form class="reservation__form" >
  <div>
    <h3 class="reservation__heading">აირჩიე სასურველი დრო</h3>
    <div class="reservation__container">
      <div class="form">
        <h4>წარმატებით დაიჯავშნა ვიზიტი</h4>
        <p>გსურთ გადახდა?</p>
       <button  class="btn__payment"routerLink="/payment" [routerLinkActive]="'active-link'"> ბარათით გადახდა</button>
       <button  (click)="onSubmit()"   class="btn__payment" type="submit"> ადგილზე გადახდა</button>    
       </div>
    </div>
  </div>
</form> -->

<!-- <section class="remainder__section">
  <h3 class="remainder__heading">tree fe </h3>
  <div class="remainder__container">
      <div class="remainder__form" [formGroup]="reminderForm">
          <div class="reservation__inputs">
              <div class=container>
                <img class="calculator__img" src="./assets/calculator/correct.png" alt="correct">
                <h3>წარმატებით დაიჯავშნა ვიზიტი</h3>
                <p>გსურთ გადახდა?</p>
               <button  class="btn__payment"routerLink="/payment" [routerLinkActive]="'active-link'"> ბარათით გადახდა</button>
               <button  (click)="onSubmit()"   class="btn__payment" type="submit"> ადგილზე გადახდა</button>    
              </div>
          </div>
    </div>
  </div>
</section> -->
