<section class="news__section">
    <p class="news__heading">{{'HOME.NEWS' | translate }}</p>
    <div class="news__cards">
        <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div>
        <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div>
        <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div>
        <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div>
        <!-- <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div> -->
        <!-- <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div> -->
        <!-- <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div> -->
        <!-- <div class="news__card">
            <img src="./assets/news/1.png" alt="quicktest">
            <p class="news__paragraph">იცოდით, რომ ქვიქტესტში თქვენი ავტომობილის დათვალიერებას სჭირდება სულ რაღაც 10 წუთი?</p>
            <a class="news__more" href="">ვრცლად</a>
        </div> -->

        </div>

        <div class="more__links">
            <div class="links">
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">></a>
                
            </div>
    
    </div>
</section>
