<section class="news__section">
    <h3 class="news__heading">{{ 'HOME.NEWS' | translate }}</h3>
    <div class="news__cards">
        <div class="news__card" *ngFor="let newsItem of object" (click)="navigateToDetails(newsItem.id)">
            <img [src]="newsItem.mainphoto" alt="quicktest">     
            <p class="news__paragraph">{{ newsItem.name }}</p>
            <a class="news__more" >
                {{ 'HOME.MORE' | translate }}
            </a>
        </div>
    </div>
</section>
        
        <!-- <div class="more__links">
            <div class="links">
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">></a>
            </div>
        </div> -->

        <!-- <div>
            <button (click)="previousPage()">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button (click)="nextPage()">Next</button>
        </div> -->
<!-- </section> -->

