
<div class="background">
<section class="aboutus__section">
    <h3 class="aboutus__heading"> {{ 'HOME.ABOUT-US' | translate }} </h3>
    <div class="cards">

        <div class="card">
            <div class="card__photos">
                <img class="card__photo" src="./assets/about-us/car.png" alt="car">
                <img class="card__photo" src="./assets/about-us/m1.png" alt="M1">
            </div>

            <div class="card__text">
                <h5 class="card__heading"> {{ 'HOME.M1' | translate }}</h5>
                <p class="card__paragraph"> {{ 'HOME.M1_INFO' | translate }}</p>
            </div>

        </div>

        <div class="card">
            <div class="card__photos">
                <img class="card__photo" src="./assets/about-us/bus.png" alt="bus">
                <img class="card__photo" src="./assets/about-us/m2.png" alt="M2">
            </div>
            <div class="card__text">
                <h5 class="card__heading"> {{ 'HOME.N1' | translate }} </h5>
                <p class="card__paragraph">{{'HOME.N1_INFO' | translate }} </p>

            </div>

        </div>
        <div class="card">
            <div class="card__photos">
                <img class="card__photo" src="./assets/about-us/pikap.png" alt="pikap">
                <img class="card__photo" src="./assets/about-us/n1.png" alt="N1">
            </div>
            <div class="card__text">
                <h5 class="card__heading">{{ 'HOME.M2' | translate }} </h5>
                <p class="card__paragraph">{{ 'HOME.M2_INFO' | translate }} </p>
            </div>

        </div>
    </div>
    <div class="aboutus__paragraph">
        <p> {{'HOME.ABOUT_PARAGRAP_1' | translate }}</p>
        <p> {{'HOME.ABOUT_PARAGRAP_2' | translate }}</p>
        <p> {{'HOME.ABOUT_PARAGRAP_3' | translate }}</p>
        <p> {{'HOME.ABOUT_PARAGRAP_4' | translate }}</p>
        <p> {{'HOME.ABOUT_PARAGRAP_5' | translate }}</p>
    
    </div>

</section>

</div>