.aboutus__section{
    margin-left: 240px;
    margin-right:240px;
}


.aboutus__heading {
    margin-top: 44px;
    font-family: Noto Sans Georgian;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
}

.cards  {
    display: flex;
    width: 1,320px;
    height:351px;
    margin-top: 32px;
    margin-left: 60px;
    gap: 24px;


}

.card {
    border: 2px;
    border-radius: 16px;
    width: 424px;
    height: 351px;
    padding: 36px, 24px, 36px, 24px;
    gap: 16px;
    box-shadow: 0px 0px 24px 0px #00000026;


img {
    padding: 12px;
    border-radius: 8px;
    width:104px;
    height:104px;
    gap:10px;
    margin-top:32px;
 }
.card__photos {
    margin-left:25%;
} 
.card__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top:8px;
}
.card__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    margin-top:16px;
    width: 339px;
    height: 88px;
    text-align: center;
    margin-left:10%;

}
}
.aboutus__paragraph {
    width: 1240px;
    height: 286px;
    margin-top: 32px;
    margin-left: 100px;
    // font-family: Noto Sans Georgian;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    p{
        padding: 5px;
    }
}

.card:hover {
    border: 2px solid #F7A23E;
}