<!-- <p>about-us works!</p> -->
<h3>ჩვენს შესახებ</h3>
<div class="cards">
    <div class="card">
        <!-- <img src="./assets/about-us/car.png" alt="car">
        <img src="./assets/about-us/m1.png" alt="M1"> -->
        <h5>მსუბუქი 60 ₾</h5>
        <p>არაუმეტეს 8 დასაჯდომი ადგილის (მძღოლის ადგილის გარდა) მქონე მგზავრთა გადასაყვანად განკუთვნილი ავტოსატრანსპორტო საშუალება</p>
    </div>
    <div class="card">
        <!-- <img src="./assets/about-us/pikap.png" alt="pikap">
        <img src="./assets/about-us/n1.png" alt="N1"> -->
        <h5>მიკროავტობუსი 100 ₾</h5>
        <p>8-ზე მეტი დასაჯდომი ადგილის (მძღოლის ადგილის გარდა) მქონე მგზავრთა გადასაყვანად განკუთვნილი ავტოსატრანსპორტო საშუალება (5 ტონამდე)</p>
    </div>
    <div class="card">
        <!-- <img src="./assets/about-us/bus.png" alt="bus">
        <img src="./assets/about-us/m2.png" alt="M2"> -->
        <h5>მსუბუქი სატვირთო 60 ₾</h5>
        <p>ტვირთის გადასაზიდი ავტოსატრანსპორტო საშუალება (არაუმეტეს 3.5 ტონისა)</p>
    </div>
</div>

<!-- <p>შპს ''ქვიქტესტი''-ს A ტიპის ინსპექტირების ორგანო, ავტომობილების პერიოდული ტექნიკური ინსპექტირების ცენტრი აკრედიტირებულია ისო/იეკ 17020/2012/2013 სტანდარტის შესაბამისად.

    აკრედიტაციის სფერო მოიცავს : M1; M2; N1 კატეგორიის ავტომობილების ინსპექტირებას.
    
    ავტო ინსპექტირების ცენტრი აღჭურვილია თანამედროვე ტიპის აღჭურვილობით და დაკომპლექტებულია პროფესიონალი კადრებით.
    
    პერსონალმა მომზადება გაიარა საქართველოს ტექნიკურ უნივერსიტეტში ''სატრანსპორტო და მანქანათმშენებლობის ფაკულტეტი, სატრანსპორტო სისტემების სასწავლო-კვლევითი და საექსპერტო ცენტრში'', ასევე გავლილი აქვთ შიდა პრაქტიკული მომზადება, ტრეინინგები და შიდა ტესტირება.
    
    ამ დროისთვის ქვიქტესტი ოთხ ქალაქშია წარმოდგენილი (თბილისი, რუსთავი, ქუთაისი და ბათუმი), რაც მომხმარებლებს საშუალებას აძლევს, მომსახურება მათთვის მეტად მოსახერხებელ ადგილზე მიიღონ.
</p> -->
