.aboutus__section{
    margin-left: 15rem;
    margin-right: 15rem;
}

.aboutus__heading {
    margin-top: 44px;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
}


.cards  {
    display: flex;
    width: 1,320px;
    height:351px;
    margin-top: 2rem;
    margin-left: 60px;
    gap: 24px;
}

.card {
    border: 2px;
    border-radius: 1rem;
    width: 424px;
    height: 351px;
    padding: 36px, 24px, 36px, 24px;
    box-shadow: 0px 0px 24px 0px #00000026;
}

.card__photo {
    padding: 12px;
    border-radius: 8px;
    width:104px;
    height:104px;
    gap:10px;
 }

.card__photos {
    text-align: center;
    margin-top:2rem;
} 

.card__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top:8px;
}

.card__paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    width: 339px;
    height: 88px;
    text-align: center;
    margin: 1rem auto;
}

.card__text {
    text-align: center;
}

.aboutus__paragraph {
    width: 88%;
    margin-top: 2rem;
    margin-left: 8%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    p{
        padding: 5px;
    }
}

.card:hover {
    border: 2px solid #F7A23E;
}

@media screen and (max-width:767px) {
    .aboutus__section{
        margin-left: 2%;
        margin-right:2%;
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .card{   
        width: 100%;
        padding: 0px;
    }

    .card__paragraph {
        width: 100%;
    }

    .aboutus__paragraph {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 1rem;
        padding-bottom: 30%;
    }
}


@media screen and (min-width:768px) and (max-width:1023px) {
  .aboutus__section{
    margin-right: 2%;
    margin-left:2%;
}

.cards {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap; 
}
 
 .card {
    width: 30%;
}

.card__photos {
    margin-top:8px;
 }


 .card__heading{
    margin-top:0px;
}

.card__paragraph{
    width: auto;
    height: 100%;
    margin: 8px auto;
}

.aboutus__paragraph{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding-bottom: 15%;
}
}

@media screen and (min-width:1024px) and (max-width:1440px) {
    .aboutus__section {
      margin-left:2%;
      margin-right:2%;
    }

    .cards {
        margin-left:0px;
    }

    .card {
        width: 30%;
    }
    
    .card__paragraph{
        width: auto;
        height: 100%;
    }

    .aboutus__paragraph {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        padding-bottom: 15%;
    }
  }

@media screen and (min-width:1440px) and (max-width:1440px) {    
    .aboutus__paragraph {
        width: 100%;
        height: 100%;
        margin-left: 20px;
        padding-bottom: 15%;
    }

    .aboutus__section{
        margin-left: 15%;
        margin-right:15%;
    }

    .cards {
        margin-left:0px;
    }
   }
