.background{
    margin:0;
    background-image: url("/assets/1920.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
}
