@import '~@fortawesome/fontawesome-free/css/all.css';


.accordion-heading{
    padding:10px;
    cursor: pointer;
    background: red;
    color:#fff;
    font-weight: 600px;
    margin-top:4px;
    border-radius:2px;
}

.accordion-content{
    transition:4s ease-in-out;
    padding:10px;
    background: rgb(252,243,243);
    border: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation-name:slideDown;
    animation-duration:1s;
    animation-timing-function:ease;
    -webkit-animation-timing-function: ease ;


}

@keyframes slideDown {
    0% {
        transform:translate(-100%);
    }
    50% {
        transform:translateY(-8%);
    }
    65% {
        transform:translateY(-4%);
    }
    80% {
        transform:translateY(-4%);
    }
    95% {
        transform:translateY(-2%);
    }
    100% {
        transform:translateY(0%);
    }
    
}

.up-icon{
    transition: 0.2s ease-out;
} 

.icon{
    animation-name:icon;
    transform:rotate(180deg);
    transition: 0.2s ease-out;
}