<section class="remainder__section">
    <h3 class="remainder__heading">შეხსენების გააქტიურება</h3>
    <div class="remainder__container">
        <div class="remainder__form">
            
        <div class="remainder__inputs">
            <label>ტელეფონის ნომერი (9 ციფრი)</label>
            <input value="111-1111-1111" placeholder="+995 123-456" type="number">
        </div>
        <div class="reservation__inputs">
            <div class=container>
                <div class="col-75" class="branches">
                    <label for="">პერიოდულობა</label>
                    <br>
                    <select id="period" name="period">
                        <label for="">პერიოდულობა</label>
                      <option value="14">შემახსენე 14 დღით ადრე </option>
                      <option value="30">შემახსენე 30 დღით ადრე</option>
                    </select>
                </div>
    
            </div>

        </div>
        <input type="submit" value="გააქტიურება">

        </div>
    </div>
</section>
