.remainder__section {
    margin-left: 240px;
    margin-right:240px;
  }

  .remainder__heading {
    margin-top: 44px;
    font-family: Noto Sans Georgian;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
  
  }

  .remainder__container {
    width: 470px;
    height: 350px;
    margin-top: 40px;
    margin-left: 485px;
    padding: 44px;
    border-radius: 16px;
    gap: 52px;
    box-shadow: 0px 0px 24px 0px #00000026;
  }

  input {
    width: 382px;
    height:44px;
    padding: 11px, 16px, 11px, 16px;
    border-radius: 8px;
    border: 1px;
    gap: 10px;
    border: 1px solid #E0E0E0;
}

label {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: center;
    width: 175px;
    height: 22px;
    padding: 0px, 16px, 0px, 16px;
    gap: 10px;
    margin-left:16px;
  
  
   }

   ::placeholder {
    color:#E0E0E0;
    font-family: Noto Sans Georgian;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    padding-left:16px;
    
  
  }

  .branches  {
    width: 382px;
    height:46px;
    padding: 11px, 16px, 11px, 16px;
    border-radius: 8px;
    border: 1px;
    justify-content: space-between;
    
  
  }

  input[type=submit] {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #FFFFFF;
    margin-left:25%;
    margin-top: 72px;
    background-color:var(--yellow-color);
    width: 187px;
    height: 44px;
    padding: 11px, 36px, 11px, 36px;
    border-radius: 8px;
    gap: 10px;
    opacity: 0.5px;
    cursor: pointer;
    color:#FFFFFF;
    border: none;
    border-radius: 8px;
    border: 1px solid #E0E0E0;

    }

//     input[type=submit]:hover {
// border:none;
//     }
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
      }


      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      .remainder__inputs{
        margin-bottom: 24px;
    }