.calculator__section {
    margin-left: 240px;
    margin-right:240px;
  }
  
  .calculator__container {
    width: 520px;
    height: 657px;
    margin-left: 860px;
    margin-top: 103px;
    padding: 44px, 24px, 44px, 24px;
    border-radius: 24px;
    gap: 36px;
    box-shadow: 0px 0px 24px 0px #00000026;
  
  
  }
  .btn__back{
    color: #E0E0E0;
    font-family: Noto Sans Georgian;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.015em;
    text-align: center;
  }
  
  .calculator__back{
    padding:24px 24px;
    display: flex;
    cursor: pointer;

  }
  
  .calculator__img{
    margin-top: 5%;
    margin-left: 43%;
    width: 64px;
    height: 64px;
  
  }
  
  .calculator__number {
    font-family: Noto Sans Georgian;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #262626;
    margin-top:16px;
}
.calculator__information {
    margin-top:48px;
  
  }

.paragraph__past{
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #EA6553;

  }

  .calculator__paragraph{
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #7A7A7A;
    margin-top:16px;
  }

.calculator__date{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #1B1B1B;
    margin-top:16px;

  }

  .btn__booking {
    width:330px;
    height: 44px;
    padding: 11px, 36px, 11px, 36px;
    border-radius: 8px;
    gap: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: center;
    background-color: var(--yellow-color);
    border:none;
    cursor: pointer;
    margin-top:32px;
    margin-left:20%;
  }
