<section class="calculator__section">
    <div class="text">
        <h1 class="main__heading">{{'HOME.MAIN-HEADING-1' | translate }} </h1>  
        <h1 class="main__heading"> {{'HOME.MAIN-HEADING-2' | translate }} </h1> 
        <span class="main__span">{{'HOME.QUICKTEST' | translate }}</span>
    </div>
    <div class="calculator__container">
        <div class="calculator__back"  routerLink="/calculator" [routerLinkActive]="'active-link'">
            <img class="chevron__back" src="./assets/chevron-left.png" alt="chevron-left">
            <p class="btn__back"> {{'HOME.BACK' | translate }}</p>
        </div>
        <img class="calculator__img" src="./assets/calculator/wrong.png" alt="wrong">
        <h3 class="calculator__number">AA-111-AA</h3>
        <div class="calculator__information">
            <h4 class="paragraph__past">{{'HOME.PERIOD-OVER' | translate }}</h4>
            <h4 class="calculator__paragraph">{{'HOME.INSP-PERIOD' | translate }}</h4>
            <p class="calculator__date"> 25 ივნისი , 2023 წელი</p>
            <button routerLink="/reservation" [routerLinkActive]="'active-link'" class="btn__booking">{{'HOME.BOOK' | translate }}</button>
        </div>
    </div>
</section>
