
button {
  background-color: rgb(3, 154, 3);
}
/* Style for the custom select dropdown */
.custom-select {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.custom-select .select-trigger {
  // border: 1px solid #ccc;
  padding: 8px 15px;
  cursor: pointer;
  display: block;
  text-align: center;
  outline: none;
  background-repeat: no-repeat;
  background-color: var(--yellow-color);
  color: #fff;
  width: 99px;
  height: 46px;
  border-radius: 8px;
  text-transform: uppercase;
}

.custom-select .select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

.custom-select .select-options.show {
  display: block;
}

.custom-select .select-options li {
  padding: 8px 15px;
  cursor: pointer;
}

.custom-select .select-options li:hover {
  background-color: #f0f0f0;
}