.service__centers {

        margin-left: 240px;
        margin-right:240px;




    .branches__heading{
        font-family: Noto Sans Georgian;
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: -0.015em;
        text-align: center;
        margin-top: 44px;
    }

    .branches {
        margin-top:109px;
        margin-left:60px;
        display: flex;
        

    }

    .branch {       
        background-color: #F4F4F4CC;
        width: 567px;
        height: 263px;
        padding: 8px;
        border-radius: 16px;
        gap: 10px;
        

        .branch__btn{
            width: 551px;
            height: 43px;
            padding: 8px, 12px, 8px, 12px;
            border-radius: 8px;
            border: none;
            gap: 10px;
            background-color: var(--yellow-color);
            display:flex;
            justify-content: space-between;
            .btn__heading {
            font-family: Noto Sans Georgian;
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: -0.015em;
            // text-align: center;
            margin-top:8px;
            margin-left:8px;
            color:#FFFFFF;
            }

            .btn__img {
                margin-top:8px;
                margin-right:8px;
                cursor: pointer;

            }
        
        }
        .branch__info {
            margin-top:8px;
            margin-left:8px;
            padding: 0px, 12px, 0px, 12px;

            
       
        }
    }


}
.info  {
    margin-left:8px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.015em;
    padding: 0px, 12px, 0px, 12px;
    gap: 10px;
    color: #0D0D0D;


  }
.branch__address {
 display:flex;
padding:3px;

}

.branch__phone {
    display:flex;
    padding-left:3px;
    text-align: center;


}

.branch__clock {
    display: flex;
    padding:3px;
}
.branch__email {
    display: flex;
    padding-left: 3px;
}

.info__img{
    width: 16px;
    height: 16px;
    margin-top:8px;
}



.map {
    display: flex;
}

.company__code {
    margin-top:16px;
    color: #B9B9B9;
    font-family: Noto Sans Georgian;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;


}

.code__span {
    color:#000000;
    font-family: Noto Sans Georgian;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;

}

.email{
    color:#000000;
    font-family: Noto Sans Georgian;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top:2px;

}

.link {
    color:inherit;
    color: #0D0D0D;
    font-family: Noto Sans Georgian;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.015em;
    padding-left:8px;





}
.link:hover {
    color:var(--yellow-color);
}


.try__btn{
        width: 551px;
        height: 43px;
        padding: 8px, 12px, 8px, 12px;
        border-radius: 8px;
        border: none;
        gap: 10px;
        background-color: var(--yellow-color);
        display:flex;
        justify-content: space-between;
        .btn__heading {
        font-family: Noto Sans Georgian;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: -0.015em;
        margin-top:8px;
        margin-left:8px;
        color:#FFFFFF;
        // color:red;
        }
    
}

.branch__info {
    background: #f6f6f6;
}

// visibleze kondes heifh da width tavidan 0 vapshe
