<section class="service__centers">
    <h3 class="branches__heading">ფილიალები</h3>
    <div class="branches">
        <div class="branch">
            <button class="branch__btn">
                <h3 class="btn__heading">თბილისი</h3>
                <img class=btn__img src="./assets/branches/chevron-up.png" alt="chevron-up">
            </button>
            <div class="branch__info">
                <img src="./assets/branches/location.png" alt="location">
                <p>ჯორჯ ბალანჩინის ქ. N36, ქ. თბილისი</p>
                <img src="./assets/branches/phone.png" alt="phone">
                <a href=""></a>
                <p>032 2 48 00 42</p>
                <img src="./assets/branches/" alt="">
                <a href=""></a>
                <p>qt.ge</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>ორშაბათი-პარასკევი: 09:00 - 19:00</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>შაბათი: 09:00 - 18:00</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>კვირა: 09:00 - 15:00</p>
            </div>
        </div>
        <!-- <div class="branch">
            <button>
                <h3>რუსთავი</h3>
                <img src="./assets/branches/chevron-up.png" alt="chevron-up">
            </button>
            <div class="branch__info">
                <img src="./assets/branches/location.png" alt="location">
                <p>რუსთავის გზატკეცილი მე-19 კმ (მიკრო ავტობუსების ბაზრობასთან)</p>
                <img src="./assets/branches/phone.png" alt="phone">
                <a href=""></a>
                <p>032 2 48 00 42</p>
                <img src="./assets/branches/" alt="">
                <a href=""></a>
                <p>qt.ge</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>ორშაბათი-პარასკევი: 09:00 - 19:00</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>შაბათი: 09:00 - 18:00</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>კვირა: 09:00 - 15:00</p>
            </div>
        </div> -->
        <!-- <div class="branch">
            <button>
                <h3>ქუთაისი</h3>
                <img src="./assets/branches/chevron-up.png" alt="chevron-up">
            </button>
            <div class="branch__info">
                <img src="./assets/branches/location.png" alt="location">
                <p>სოფ. ქვიტირი (ლუკოილის ბენზინგასამართი სადგურის მიმდებარედ), ქუთაისი</p>
                <img src="./assets/branches/phone.png" alt="phone">
                <a href=""></a>
                <p>032 2 48 00 42</p>
                <img src="./assets/branches/" alt="">
                <a href=""></a>
                <p>qt.ge</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>ორშაბათი-პარასკევი: 09:00 - 19:00</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>შაბათი: 09:00 - 18:00</p>
                <img src="./assets/branches/clock.png" alt="clock">
                <p>კვირა: 09:00 - 15:00</p>
            </div>
        </div> -->
    

    </div>
 


</section>



<!-- ჯორჯ ბალანჩინის ქ. N36, ქ. თბილისი
032 2 48 00 42
ორშაბათი-პარასკევი: 09:00 - 19:00
შაბათი: 09:00 - 18:00
კვირა: 09:00 - 15:00 -->


<!-- <select>რუსთავი</select>
<select>ქუთაისი</select>
<select>ბათუმი</select> -->
