.custom__select {
    position: relative;
    display: inline-block;


   .select__trigger {
    display: block;
    background-repeat: no-repeat;
    background-color: var(--yellow-color);
    color: #fff;
    width: 99px;
    height: 46px;
    text-align: center;
    outline: none;
    border-radius: 8px;
    background-position: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 11px 0 0 24px;
  }
}


// for tables
@media screen and (min-width:768px) and (max-width:1023px) {
  
}


// for mobile
  @media screen and (max-width:768px) {
    .custom__select {
      position: relative;
      display: inline-block;
  
    
    .select__trigger {
      width: 80px;
      height: 40px;
      padding: 8px 0 0px  24px;
      background-position: 8px;


    }

}
  }