<!-- <button class="languages">
  <img class="languages__img"src="./assets/header/globe.png" alt="language">
  <select class="select__language" class="text-uppercase"  #langselect (change)="translate.use(langselect.value)">
    <img class="languages__img"src="./assets/header/globe.png" alt="language">
    <option *ngFor="let lang of translate.getLangs()" class="text-uppercase" [value]="lang">{{lang}}</option>
  </select>

</button> -->




<!-- start  mushaobs -->

<div class="main" >
  <label class="languages">
    <select #langselect (change)="translate.use(langselect.value)" style="background-image:url('assets/global.png');" class="select__language">
      <option *ngFor="let lang of translate.getLangs()" class="text-uppercase" [value]="lang">{{lang}}</option>
    </select>
  </label>
</div>


    <!-- <img class="languages__img"src="./assets/header/globe.png" alt="language"> -->

<!-- <div class="main">
  <label class="languages">
    <img class="languages__img"src="./assets/header/globe.png" alt="language">
    <select class="select__language" class="text-uppercase"  #langselect (change)="translate.use(langselect.value)">
      <img class="languages__img"src="./assets/header/globe.png" alt="language">
      <option *ngFor="let lang of translate.getLangs()" class="text-uppercase" [value]="lang">{{lang}}</option>
    </select>
  </label>
</div> -->




<!-- kviteli button -->

<!-- <div class="drop-down" #dropdown (click)="toggleList()">
  <div class="wrapper">
    <img class="languages__img" src="./assets/header/globe.png" alt="language">
    <div class="selected">GEO</div>
  </div>
  <div class="list" #list [ngClass]="{'show': isListVisible}">
    <div class="item">
      <img src="./assets/header/globe.png" alt="language">
      <div class="text">ENG</div>
    </div>

  </div>


</div> -->





<!--akedann-->

 <!-- <div class="switch">
  <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
  <label for="language-toggle"></label>
  <span class="on" (click)="switchLanguage('ka')">GEO</span>
  <span class="off" (click)="switchLanguage('en')">EN</span>
  <button (click)="switchLanguage('en')">English</button>
<button (click)="switchLanguage('geo')">GEO</button> -->
<!-- </div> -->
  <!-- <span class="on">GEO</span>
  <span class="off">EN</span> -->

  <!-- <span class="on" class="select__language" class="text-uppercase"  #langselect (change)="translate.use(langselect.value)"></span>
  <span class="off" *ngFor="let lang of translate.getLangs()" class="text-uppercase" [value]="lang">{{lang}}> </span> -->




  <!-- <div class="main">
    <label class="languages">
      <img class="languages__img" src="./assets/header/globe.png" alt="language">
      <select class="select__language" #langselect (change)="switchLanguage(langselect.value)">
        <option value="en">Eng</option>
        <option value="ka">Geo</option>
      </select>
    </label>
  </div> -->

  <!-- <div class="switch">
    <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
    <label for="language-toggle"></label>
    <span class="on" (click)="switchLanguage('ka')">GEO</span>
    <span class="off" (click)="switchLanguage('en')">EN</span>
  </div> -->