<!-- <button class="language__btn"> -->
  <!-- <div class="languages"> -->
    <!-- <img class="languages__img"src="./assets/header/globe.png" alt="language"> -->
        <!-- <select class="select__language">
          <option value="option1">GEO</option>
          <option value="option2">ENG</option>
      
      </select> -->
      <!-- <p>GEO</p> -->

  <!-- </div> -->
<!-- </button> -->
<!-- 
<img class="languages__img"src="./assets/header/globe.png" alt="language">
<select id="mySelect">
    <option value="option1">GEO</option>
    <option value="option2">ENG</option>

</select> -->


<!-- language-select.component.html -->
<!-- <div class="custom-select" (click)="showDropdown = !showDropdown">
  <div class="selected-option">
    <img [src]="languages.find(lang => lang.code === selectedLanguage)?.flagUrl" alt="Selected Flag">
    <span>{{ languages.find(lang => lang.code === selectedLanguage)?.name }}</span>
  </div>
  <div class="dropdown" *ngIf="showDropdown">
    <div class="option" *ngFor="let language of languages" (click)="selectLanguage(language)">
      <img [src]="language.flagUrl" alt="{{ language.name }} Flag">
      {{ language.name }}
    </div>
  </div>
</div> -->

<div class="languages">
  <img src="" alt="">
  <div></div>

</div>
