<button class="languages">
  <img class="languages__img"src="./assets/header/globe.png" alt="language">
  <select class="select__language" class="text-uppercase"  #langselect (change)="translate.use(langselect.value)">
    <option *ngFor="let lang of translate.getLangs()" class="text-uppercase" [value]="lang">{{lang}}</option>
  </select>

</button>


<!-- start  -->



<!-- <label class="languages">
  <img class="languages__img"src="./assets/header/globe.png" alt="language">
  <select class="select__language" class="text-uppercase"  #langselect (change)="translate.use(langselect.value)">
    <option *ngFor="let lang of translate.getLangs()" class="text-uppercase" [value]="lang">{{lang}}</option>
  </select>
</label> -->


<!-- <div class="drop-down">
  <div class="wrapper">
    <img class="languages__img"src="./assets/header/globe.png" alt="language">
    <div class="selected">India</div>
  </div>
  <i class="ri-arrow-drop-down-fill"> </i>

</div> -->