.custom__select {
    position: relative;
    display: inline-block;
  }
  
  .custom__select .select__trigger {
    display: block;
    background-repeat: no-repeat;
    background-color: var(--yellow-color);
    color: #fff;
    width: 99px;
    height: 46px;
    text-align: center;
    outline: none;
    border-radius: 8px;
    background-position: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 11px 0 0 24px;
  }
