<footer>
    <div class="main">
        <h5 class="social__media__heading">© QuickTest LTD</h5>
        <div class="social__media">
            <a href="https://www.facebook.com/VehicleInspectionCentre" target="_blank">
                <img src="./assets/footer/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/quicktest.ge/" target="_blank">
                <img src="./assets/footer/instagram.png" alt="instagram">
            </a>
            <a href="https://www.linkedin.com/company/quicktestge/about/" target="_blank">
                <img src="./assets/footer/linkedin.png" alt="linkedin">
            </a>
        </div>
    </div>
</footer>