<footer class="footer__main">
    <div class="footer__section">
        <h5 class="social__media__heading">© QuickTest LTD</h5>
        <div class="social__media">
            <a (click)="goToFacebook()">
                <img src="./assets/footer/facebook.png" alt="facebook"></a>
            <a (click)="goToInstagram()">
                <img src="./assets/footer/instagram.png" alt="instagram">
            </a>
            <a (click)="goToLinkedin()" >
                <img src="./assets/footer/linkedin.png" alt="linkedin">
            </a>
        </div>
    </div>
</footer>