footer {
    margin:0;
    background-color: #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: absolute;
    bottom:0;
    height: 80px;
    width: 100%;
    position: fixed;
    // display: flex;
    // justify-content: space-evenly;
    // justify-content: space-around;

.main {
    display: flex;
    justify-content: space-evenly;
}
.social__media__heading {
    color:white;
    padding: 3px;
    text-align: center;
    margin-top: 29px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.015em;
    // display: flex;
    margin-left: 500px;
    text-align: center;


}
.social__media {
    // width: 120px;
    // height: 24px;
    margin-top: 28px;
    margin-left:300px;
    // margin-left: 1260.29px;
    // gap: 24px;
    // justify-content: space-between;
// padding: 12px;
// margin-right:50px;
// display: flex;
// justify-content: flex-end;

a {
    // padding: 24px;
    // padding:10px;
    // margin-left: 50px;
}

}

}
