@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color: #fafafa;
    // background-image: url(/assets/images.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.active-link{
    // background-color: var(--yellow-color);
    color:var(--yellow-color);
    // color:red;
}

:root {
    --font-family:'Noto Sans', Georgian;
    --text-color:#1B1B1B;
    --yellow-color:#F7A23E;
    --header-color:#FFFFFF;
    --font-standard:16px;
    // --font-large:38px;
    // --card-color: #3B3B3B;
    // --background-color: #2B2B2B;
    // --number-color:#858584;
    // --footer-color:#CCCCCC;
    // --font-text:'Work Sans', sans-serif;
    // --header-color:box-shadow: 0px 4px 4px 0px #00000040;
    // box-shadow: 0px 4px 4px 0px #00000040;

}

body {
    font-family: 'Noto Sans Georgian', sans-serif;
    // margin-left: 240px;
    // margin-right:240px;
}