<section class="calculator__section">
    <div class="calculator__container">
        <p class="btn__back" routerLink="/calculator" [routerLinkActive]="'active-link'"> {{'HOME.BACK' | translate }}</p>
        <img class="calculator__img" src="./assets/calculator/correct.png" alt="correct">
        <h3 class="calculator__number">AA-111-AA</h3>
        <div class="calculator__information">
            <h4 class="paragraph__past">{{'HOME.PAST' | translate }}</h4>
            <p class="calculator__date"> 25 ივნისი , 2023 წელი</p>
            <div class="calculator__line"></div>
            <h4 class="paragraph__future">{{'HOME.FUTURE' | translate }}</h4>
            <p class="calculator__date"> 25 ივნისი , 2024 წელი</p>
            <button routerLink="/remainder" [routerLinkActive]="'active-link'" class="btn__remainder">{{'HOME.REMINDER' | translate }}</button>
            <button  routerLink="/reservation" [routerLinkActive]="'active-link'" class="btn__booking">{{'HOME.BOOK' | translate }}</button>
        </div>
    </div>
</section>
