<section class="calculator__section">
    <div class="text">
        <h1 class="main__heading">{{'HOME.MAIN-HEADING-1' | translate }} 
            <span class="main__span">{{'HOME.QUICKTEST' | translate }}</span> 
            {{'HOME.MAIN-HEADING-2' | translate }}</h1>   
    </div>
    <div class="calculator__container">
        <div class="calculator__back"  routerLink="/calculator" [routerLinkActive]="'active-link'">
            <img class="chevron__back" src="./assets/chevron-left.png" alt="chevron-left">
            <p class="btn__back"> {{'HOME.BACK' | translate }}</p>
        </div>
        <img class="calculator__img" src="./assets/calculator/correct.png" alt="correct">
        <h3 class="calculator__number">AA-111-AA</h3>
        <div class="calculator__information">
            <h4 class="paragraph__past">{{'HOME.PAST' | translate }}</h4>
            <p class="calculator__date"> 25 ივნისი , 2023 წელი</p>
            <div class="calculator__line"></div>
            <h4 class="paragraph__future">{{'HOME.FUTURE' | translate }}</h4>
            <p class="calculator__date"> 25 ივნისი , 2024 წელი</p>
            <button routerLink="/reminder" [routerLinkActive]="'active-link'" class="btn__remainder">{{'HOME.REMINDER' | translate }}</button>
            <button  routerLink="/reservation" [routerLinkActive]="'active-link'" class="btn__booking">{{'HOME.BOOK' | translate }}</button>
        </div>
    </div>
</section>
