<header>
    <nav class="header__navigation">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img src="/assets/burger-menu.svg" alt="menu" class="menu">
        </label>
        <app-logo></app-logo>
        <ul>
            <li><a routerLink="/" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a routerLink="/about-us" [routerLinkActive]="'active-link'">ჩვენს შესახებ</a></li>
            <li><a routerLink="/service-centers" [routerLinkActive]="'active-link'">ფილიალები</a></li>
            <li><a routerLink="/reservation" [routerLinkActive]="'active-link'">რეზერვაცია</a></li>
            <li><a routerLink="/regulation" [routerLinkActive]="'active-link'">რეგლამენტი</a></li>
            <li><a routerLink="/news" [routerLinkActive]="'active-link'">სიახლეები</a></li>
        </ul>
    </nav>
</header>
<ul>