<header>
    <nav class="header__navigation">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img src="/assets/burger.svg" alt="menu" class="menu">
        </label>
        <div class="header__components">
            <app-logo></app-logo>
        </div>
        <div class="header__languages">
            <app-languages></app-languages>
        </div>

        <ul>
            <li>
                <a routerLink="/about-us" [routerLinkActive]="'active-link'">{{'HOME.ABOUT-US' | translate }}</a>
            </li>
            <li>
                <a routerLink="/service-centers" [routerLinkActive]="'active-link'">{{'HOME.BRANCHES' | translate }}</a>
            </li>
            <li>
                <a routerLink="/reservation" [routerLinkActive]="'active-link'">{{'HOME.RESERVATION' | translate }}</a>
            </li>
            <li>
                <a routerLink="/regulation" [routerLinkActive]="'active-link'">{{'HOME.REGLAMENT' | translate }}</a>
            </li>
            <li>
                <a routerLink="/news" [routerLinkActive]="'active-link'">{{'HOME.NEWS' | translate }}</a>
            </li>
        </ul>

    </nav>
</header>

