// img {
//   width: 1440px;
//   height: 1024px;
// }


.calculator__section {
  margin-left: 240px;
  margin-right:240px;
}

.calculator__container {
  width: 520px;
  height: 657px;
  margin-left: 860px;
  margin-top: 103px;
  // padding: 44px;
  padding: 44px, 24px, 44px, 24px;
  border-radius: 24px;
  gap: 36px;
  box-shadow: 0px 0px 24px 0px #00000026;




}

.calculator__img{
  margin-top: 15%;
  margin-left: 43%;
  width: 64px;
  height: 64px;

}

.calculator__heading {
  font-family: Noto Sans Georgian;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #1B1B1B;
  margin-top:16px;


}

.calculator__paragraph {
  font-family: Noto Sans Georgian;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #1B1B1B;
  margin-top:32px;

  

}

.calculator__btn {
  background-color: var(--yellow-color);
  border:none;
  color: #ffffff;
  font-family: Noto Sans Georgian;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: center;
  width: 156px;
  height: 44px;
  padding: 11px, 36px, 11px, 36px;
  border-radius: 8px;
  gap: 10px;
  margin-top:32px;
  margin-left:20%;
  cursor: pointer;








}


.calculator__inputs{
  border: 1px solid #E0E0E0;
  width:220px;
  height: 60px;
  padding: 8px, 36px, 8px, 36px;
  border-radius: 8px;
  gap: 10px;
  margin-top:32px;
  color:#E0E0E0;
  font-family: Noto Sans Georgian;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.015em;
  text-align: center;
  margin-left:8%;

}

.calculator__information {
  width: 288px;
  margin-left:25%;
  margin-top:48px;

}

.calculator__line {
  border: 1px solid #E0E0E0;
  width: 288px;
}