<!-- <app-remainder></app-remainder> -->

<!-- <img src="./assets/background_photo.png" alt="background_photo"> -->

 <app-languages></app-languages>

<section class="calculator__section">
    <div class="calculator__container">
        <img class="calculator__img" src="./assets/calculator/default.png" alt="calculator">
        <h3 class="calculator__heading"> {{'HOME.GUESS' | translate }}</h3>
        <div class="calculator__information">
            <div class="calculator__line"></div>
            <p class="calculator__paragraph">{{'HOME.ENTER' | translate }}</p>
            <input class="calculator__inputs" placeholder="XX001XX">
            <input  class="calculator__btn" type="submit" value="{{'HOME.CHECK' | translate }}">
        </div>
    </div>
</section>