<!-- <img src="./assets/background_photo.png"> -->

<!-- <p>main-pg works!</p> -->

<!-- <header>
    <nav>
        <div class="logo">
            <a href="#"><img src="/assets/yellow car.jpg" alt="yellow"></a>
        </div> 
        <div class="lang-menu">
            <div class="selected-lang">
                Georgia
            </div>
            <ul>
                <li>
                    <a href="" class="en">English</a>
                </li>
            </ul>
            
        </div>
    </nav>
</header> -->


<!-- <div class="dropdown">
    <button class="dropbtn">GEO</button>
    <div class="dropdown-content">
    <a href="#">ENG</a>

    </div>
</div> -->
