// img {
//   width: 1440px;
//   height: 1024px;
// }

img {
  width: 64px;
  height: 64px;

}
.calculator__section {
  margin-left: 240px;
  margin-right:240px;
}

.calculator__container {
  width: 520px;
  height: 657px;
  margin-top: 40px;
  margin-left: 860px;
  // padding: 44px;
  padding: 44px, 24px, 44px, 24px;
  border-radius: 24px;
  gap: 36px;
  box-shadow: 0px 0px 24px 0px #00000026;
}

.calculator__img{
  margin-top: 15%;
  margin-left: 43%;

}

.calculator__heading {
  font-family: Noto Sans Georgian;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #1B1B1B;


}

.calculator__paragraph {
  font-family: Noto Sans Georgian;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #1B1B1B;

}