<!-- <app-remainder></app-remainder> -->

<!-- <img src="./assets/background_photo.png" alt="background_photo"> -->

<section class="calculator__section">
    <div class="calculator__container">
        <img class="calculator__img" src="./assets/calculator/default.png" alt="calculator">
        <h3 class="calculator__heading"> გაიგე როდის გიწევს ტექინსპექტირება</h3>
        <div class="calculator__information">
            <hr>


            <p class="calculator__paragraph">ჩაწერე მანქანის ნომერი</p>
            <input class="calculator__inputs" type="text" value="XX-000XX">
            <!-- <input type="submit" > -->
            <br>
            <input  class="calculator__btn" type="submit" value="შეამოწმე">
            

        </div>
        <!-- <hr> -->

        <!-- <button></button> -->
    </div>
</section>